@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sacramento&display=swap');

*,
*::after,
*::before{
    padding: 0px;
    margin: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  body{
      overflow-x: hidden;
  }

.menu{
    /* background: cyan; */
    height: 50vh;
    width: 100%;

    display: flex;
    box-sizing: border-box;
}

.starter, .main, .desert{
    flex: 1;
    box-sizing: border-box;
}

.billing{
    width: 100%;
    height: calc(50vh - 60px);
    /* background: #fff; */
}
.btn-qty{
    padding: 5px;
    border-style: none;
    border-radius: 5px;
}

.finalamt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro{
    width: 100%;
    height: 100vh;
    /* background: #333; */
    position: absolute;
    top: 0;
    z-index: -2;
}
.intro img{
    height: 100%;
    width: 100%;
}
.gradient{
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    /* background: grey; */
    background: linear-gradient(transparent, #505050);
    /* background: linear-gradient(transparent, rgb(39, 43, 48)); */
    opacity: .8;
}

.border-none{
    border-style: none !important;
}

.tagline{
    margin-top: 9rem;
    margin-left: 5rem;
}
.tagline p{
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 6rem;
    color: #fff;
}
.tagline .line1{
    font-family: 'Oswald';
}
.tagline .line2{
    font-family: 'Sacramento', cursive;
    font-size: 10rem;
    margin-left: 10%;
    margin-top: -3%;
    color: #ff007c;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus{
    background: transparent;
    border-radius: 0px;
    color: #fff;
    border: none;
    border-bottom: solid 1px rgb(110, 110, 110);
    box-shadow: none;
}