.main{
    height: calc(100vh - 60px);
    width: 100%;
    /* background: lightgray; */
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    justify-content: flex-start;

}

.main .block{
    height: 50%;
    width: 30%;
    /* background: lightgray; */
    overflow-x: hidden;
    overflow-y: auto;
}

td, th{
    vertical-align: middle;
}

.status{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}